*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #131312;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    width: 85%;
    height: 95%;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
   
}
header .menu_side, .song_side{
    position:relative;
    width:25%;
    height: 90%;
     /* border: 1px solid white;   */
    /* background-color: #111727; */
    background-color: #0a0a0b;
    box-shadow: 5px 0px 2px #050608;
    color:#fff;
    
}
.song_side{
    width:75%;
    /* background: #0b1320; */
    background: #292a2c;
}

header .master_play{
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
    
}
header .menu_side h1{
    font-size: 20px;
    margin: 20px 0px 0px 25px;
    font-weight: 510;   
}
header .menu_side .playlist {
    margin: 45px 0px 0px 25px;   
}
header .menu_side .playlist h4 {
    font-weight: 400;  
    font-size: 17px;
    padding-bottom: 15px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .5s linear;
}
header .menu_side .playlist h4:hover{
    color: #fff;
}
header .menu_side .playlist h4 span{
    position: relative;
    margin-left: 46px;
}
header .menu_side .playlist h4 span::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    top: -4px;
    left: -49px;
    border-radius: 50%;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover span::before{
    border: 2px solid #fff;
}
header .menu_side .playlist h4 .bi{
    display: none;
}
header .menu_side .playlist .active{
   color:darkgoldenrod
}
header .menu_side .playlist .active span{
    display: none;
   
}
header .menu_side .playlist .active .bi{
    display: flex;
    margin-right:20px ;  
}
header .menu_song{
    width: 100%;
    height: 60%;
    /* border: 1px solid #fff; */
    margin-top: 23px;
}
header .menu_song li{
   list-style-type: none;
   padding: 8px 0px 8px 20px;
   display: flex;
   align-items: center;
   position: relative;
   margin-bottom: 10px;
   cursor: pointer;
   transition: .3s linear;
}
header .menu_song li:hover{
  background-color: rgb(105, 105,170,.1);
}
header .menu_song li span{
   font-size: 14px;
   font-weight: bold;
   color: #4c5262;
}
header .menu_song li img{
  width: 44px;
  height: 39px;
  margin-left: 25px;
}
header .menu_song li h5{
  font-size: 15px;
  margin-left: 24px;
}
header .menu_song li .subtitle{
  font-size: 11px;
  color: #4c5262;  
}
header .menu_song li .bi{
 position: absolute;
 right:27px ;
 top: 14px;
 font-size:larger;
}

header .master_play{
    display: flex;
    align-items: center;
    padding: 0px 20px ;
}
header .master_play .wave{
    width: 38px;
    height: 45px;
    /* border: 2px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 19px;
}
    header .master_play .wave .wave1{
        width: 3px;
        height: 13px;
        margin-right: 3px;
        border-radius: 10px 10px 0px 0px;
        background: green;
        /* animation:wave .6s linear infinite; */
        /* animation:unset; */
    }
header .master_play .wave .wave1:nth-child(2){
  height: 16px;
  animation-delay:.4s ;
  background-color: rgb(134, 153, 28);
}
header .master_play .wave .wave1:nth-child(3){
  height: 11px;
  animation-delay:.8s;
  
}
header .master_play .wave .wave1:nth-child(4){
  height: 13px;
  animation-delay:.6s;
  background-color: rgb(134, 153, 28);
}
header .master_play .wave .wave1:nth-child(5){
  height: 11px;
  animation-delay:.4s;
}
header .master_play .wave .wave1:nth-child(6){
    height: 8px;
    animation-delay:.6s;
    background-color: rgb(134, 153, 28);
    
  }
header .master_play .wave .wave1:nth-child(7){
    height: 13px;
    animation-delay:.3s;
  }

/* javascript class wave */
header .master_play .active2 .wave1{
    animation: wave .6s linear infinite;
}
header .master_play .active2 .wave1:nth-child(2){
  
  animation-delay:.4s ;
}
header .master_play .active2 .wave1:nth-child(3){
    animation-delay:.8s;
}
header .master_play .active2 .wave1:nth-child(4){
  
  animation-delay:.6s;
}
header .master_play .active2 .wave1:nth-child(5){
    animation-delay:.4s;
}
header .master_play .active2 .wave1:nth-child(6){
    animation-delay:.6s;
}
header .master_play .active2 .wave1:nth-child(7){
    animation-delay:.3s;
}

@keyframes wave{
    0%{
        height: 10px;
    }
    50%{
        height: 16px;
        
    }
    100%{
        height: 10px;

    }

}

header .master_play img{
    width: 50px;
    height: 45px;
}
header .master_play h5{
    width: 136px;
    height: 25px;
    margin-left: 15px;
    font-size: large;
    color: #fff;
    line-height: 16px;
}
header .master_play h5 .subtitle{
    font-size: 12px;
    color: #4c5262;
}
header .master_play .icon{
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
}
header .master_play .icon .bi{
    cursor: pointer;
    outline: none;
    font-size: 29px;
}
header .master_play .icon .bi:nth-child(2){
    border: 1px solid rgb(105, 105,170,.1);
    border-radius: 50%;
    padding: 1px 10px 0px 10px;
    margin: 0px 5px;
    transition: .3s linear;
}
header .master_play span{
    color: #fff;
    width: 43px;
    font-size: 15px;
    font-weight: 500;
}
header .master_play #currentStart{
    margin: 0px 0px 0px 20px;
}
header .master_play .bar{
    position: relative;
    width: 45%;
    height: 3px;
    background: rgb(105, 105,170,.1);
    margin: 0px 15px 0px 10px;
}
header .master_play .bar .bar2{
    position: absolute;
    background: burlywood;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
header .master_play .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: burlywood;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}
header .master_play .bar .dot::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid burlywood;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow:inset 0px 0px 3px burlywood;
}
header .master_play .bar input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 99999999999;   
    transition: 3s linear;
    opacity: 0;
}
header .master_play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(105, 105,170,.1);
    margin-left: 50px;
    
}
header .master_play .vol .bi{
    position: absolute;
    font-size: 25px;
    top: -13px;
    left: -37px;
    color: white;
    
}
header .master_play .vol input{
    position: absolute;
    width: 100%;
    top: -8px;
    left: 0;
    cursor: pointer;
    z-index: 99999999999;   
    transition: 3s linear;
    opacity: 0;
}
header .master_play .vol .vol_bar{
    position: absolute;
    background: burlywood;
    width: 50%;
    height: 100%;
    top: 0;
}
header .master_play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: burlywood;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}
header .master_play .vol .dot::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid burlywood;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow:inset 0px 0px 3px burlywood;
}

header .song_side{
    z-index: 2;
}
header .song_side::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 300px;
    margin-left: 62%;
    background: url("bts.png");
    background-repeat: no-repeat;
    z-index: -1;
}
header .song_side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song_side nav ul{
    display: flex;
}
header .song_side nav ul li{
    list-style-type:none ;
    position: relative;
    font-size: 17px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}
header .song_side nav ul li:hover{
   color: burlywood;
}
header .song_side nav ul li:nth-child(1){
   color: burlywood;
}
header .song_side nav ul li span{
   position: absolute;
   width: 100%;
   height: 2.5px;
   background: #fff;
   bottom: -5px;
   left: 0;
   border-radius: 20px;
}
header .song_side nav .search{
  position: relative;
  width: 40%;
  height: 24px;
  padding: 0px 20px;
  border-radius: 20px;
  color: gray;
}
header .song_side nav .search::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgb(184, 184,184,.1);
    backdrop-filter: blur(5px);
    z-index: -1;

}
header .song_side nav .search .bi{
   font-size: 14px;
   padding: 3px 0px 0px 10px;
}
header .song_side nav .search input{
   background: none;
   outline: none;
   border: none;
   padding: 0px 10px;
   color: #fff;
   font-size: 12px;
   text-align: start;
   font-size: small;
   
}
header .song_side nav .user{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}
header .song_side nav .user img{
    position: absolute;
    width: 50px;
    margin-left: 86px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #131312;
}
header .song_side nav .user h5{
    
}
header .song_side .content{
    width: 90%;
    height: 25%;
    margin: auto;
    /* border: 1px solid #fff; */
    padding-top: 20px ;
}
header .song_side .content h1{
    font-size: 30px;
    font-weight:bold;
}
header .song_side .content p{
    font-size: 15px;
    font-weight:500;
    color: #4c5262;
    margin: 5px;
}
header .song_side .content .button{
    margin-top:21px ;
}
header .song_side .content .button button{
    width: 120px;
    height: 30px;
    border: 2px solid burlywood;
    outline: none;
    background: rgba(201, 151, 85, 0.8);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: 550;
    transition: .3s linear;
}
header .song_side .content .button button:hover{
    border: 2px solid burlywood;
    background: none;
    color: rgba(201, 151, 85, 0.8);
}
header .song_side .content .button button:nth-child(2){
    border: 2px solid burlywood;
    background: none;
    color: rgba(201, 151, 85, 0.8);
}
header .song_side .content .button button:nth-child(2):hover{
    border: 2px solid burlywood;
    background: rgba(201, 151, 85, 0.8);;
    color: #fff;
}
header .song_side .popular_song{
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 27px;
}
header .song_side .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song_side .popular_song .h4 .bi{
    color: #ada3b4;
    cursor: pointer;
    transition: .3s linear;
}
header .song_side .popular_song .h4 .bi:hover{
    color: #fff;
    
}
header .song_side .popular_song .pop_song{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;

}
header .song_side .popular_song .pop_song::-webkit-scrollbar{
    display: none;
}



header .song_side .popular_song .pop_song li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;

}
header .song_side .popular_song .pop_song li:hover{
    background: rgb(105, 105,170,.1);
}
header .song_side .popular_song .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .song_side .popular_song .pop_song li .img_play img{
   width: 100%;
   height: 100%;
   
}
header .song_side .popular_song .pop_song li .img_play  .bi{
    position: absolute;
   font-size: 20px;
   cursor: pointer;
   transition: .3s linear;
   opacity: 0;  

}
header .song_side .popular_song .pop_song li:hover .img_play  .bi{
   opacity: 1;

}
header .song_side .popular_song .pop_song li h5{
  padding: 5px 0px 0px 5px;
  line-height: 17px;
  font-size: 14px;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
header .song_side .popular_song .pop_song li h5 .subtitle{
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #4c5262;

}
header .song_side .artist{
    width: 90%;
    height: auto;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 57px;

}
header .song_side .artist .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song_side .artist .h4 .bi{
    color: #ada3b4;
    cursor: pointer;
    transition: .3s linear;
}
header .song_side .artist .h4 .bi:hover{
    color: #fff;
    
}
header .song_side .artist .items{
    width: 100%;
    height: auto;
    margin-top: 19px;
    display: flex;
    /* border: 2px solid white; */
    overflow:auto;
    scroll-behavior: smooth;
    
}
header .song_side .artist .items::-webkit-scrollbar{
    display: none;
}
header .song_side .artist .items  li {
    list-style-type: none;
    position:relative;
    min-width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    margin-right: 15px;
    cursor: pointer;
   
    
}
header .song_side .artist .items  li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media screen and(max-width: 1254px){
    header .master_play .icon .bi:nth-child(2){
        
        padding: 1px 5px 0px 5px;
    }
    .song_side{
        background-color: #fff;
    }
}









